<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New order</title>
</head>
<body>
    <a href="{{order_link}}">Sargyta geç</a>    
</body>
</html>